---

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">    <title>{{ title }} - Jens Nicolay</title>
  </head>
  <body class="min-h-screen bg-gray-100">
    <div>
      <a href="{{ '/' | url}}">Home</a> | 
      <a href="{{ '/teaching' | url}}">Teaching</a> | 
      <a href="{{ '/research' | url}}">Research</a> | 
      <a href="{{ '/publications' | url}}">Publications</a> | 
      <a href="{{ '/personal' | url}}">Personal</a>
    </div>
    <hr/>
    <h1>
      {{ title }}
    </h1>
    {{ content | safe }}
  </body>
</html>